* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-container {
    
    width: 100vw;
    height: 100vh;
    background: #FAFAFA;
    
    display: flex;
    
    flex-direction: row;  
    justify-content: center;   
      align-items: center; 
    
  }
  
    .image {
    flex: 1;    
     align-items: center;        
     
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;

  }
  
  .image img {
    /* position:absolute; */
    top: 72px;
   left: 166px;
    /* bottom:72px;
    right:818px; */
    width: 576px;
    height: 576px;
    /* margin-right:163px; */

background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 31px #0000000A;
border: 20px solid #FFFFFF;
opacity: 1;
border-radius: 50%;
size:20px;
  }

  .nonImage{
    
    flex: 1;              
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: left;
     /* align-items: auto;  */
     
   }
  
  
  .logo{
   
    top: 106px;
    left: 906px;
    /* bottom:556px;
    right:382px; */
width: 272px;
height: 58px;
opacity: 1;
  }

  .text{
 
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    top: 183px;
    left: 905px;
    /* bottom:436.83px;
    right:155px; */
    width: 500px;
    height: 100px;
    margin-top: 19.17px;
    margin-bottom: 31.87px;
  }

  .text span{
  
    top: 183px;
    left: 1036px;
    /* bottom:483.83px;
    right:387.45px; */
    width: 137px;
    height: 53px;
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
  }

  .direction{
    
    top: 315px;
    left: 904px;
    width: 260px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-bottom: 23.45px;
  }
  .username{
    
    top: 372px;
    left: 907px;
    width: 429px;
    height: 49px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 27px;
  }

    .username p
    {
      
      top: 386px;
      left: 921px;
      width: 68px;
      height: 20px;
      text-align: left;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      color: #ADADAD;
      opacity: 1;
      margin-top: 14.63px;
      margin-bottom: 14.37px;
      margin-left: 14.5px;
      margin-right: 346.5px;
   }
     
  

   .password{
   
    top: 448px;
left: 907px;
width: 429px;
height: 49px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 30.5px;
   }

   .password p{
    
    top: 461px;
    left: 921px;
    width: 66px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    margin-top: 13.63px;
    margin-bottom: 15.37px;
    margin-left: 14.5px;
    margin-right: 348.5px;
   }

   .loginInputField{
    
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap:170.44px;
   }

   .loginButton{
    
    top: 527px;
    left: 906px;
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
   }

   .loginButton p{
  
    top: 537px;
    left: 953px;
    width: 45px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9.65px;
    margin-bottom: 11.35px;
    margin-left: 46.5px;
    margin-right: 46.5px;
   }
  
   .forgotPassword{
   
    top: 539px;
    left: 1214px;
    width: 121px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    margin-top: 9.65px;
    margin-bottom: 11.35px;
    margin-left: 46.5px;
    margin-right: 46.5px;
   }

    .register{
      
      display:flex;
      flex-direction: row;
      margin-top: 23.15px;
      
    }

   .register p{

    top: 595px;
    left: 906px;
    width: 160px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
   
    
   }

   #registerLink{
   
    top: 595px;
    left: 1070px;
    width: 88px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
  
    
   }

  